@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    font-style: normal;
    font-weight: 500;
    src: local('ITC Avant Garde Pro Md'), url('./fonts/ITCAvantGardePro-Md.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'ITC Avant Garde Pro Md';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
